#contentArea {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 2.5vh;
  text-align: center;
}

#name {
  font-size: 6vh;
  font-weight: bolder;
}

#title {
  font-size: 5vh;
  font-style: italic;
}

#mainContent {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 55vw;
  box-sizing: border-box;
  padding: 2.5vh;
  border-bottom: 0.75vh rgb(91, 174, 176) solid;
  border-top: 0.75vh rgb(91, 174, 176) solid;
  border-left: 0.6vh rgb(91, 174, 176) solid;
  border-right: 0.6vh rgb(91, 174, 176) solid;
  transform: translateX(2.5vh);
  overflow: auto;
  text-align:right;
  align-items: right;
  font-size: 2.5vh;
}

#contactButton {
  position: absolute;
  font-weight: bold;
  text-decoration: none; 
  right: 11vh;
  bottom: 11.15vh;
  color: #fff;
  padding: 1vh 2vh;
  white-space: nowrap;
  z-index: 4;
  cursor: pointer;
}

#contactButton a {
  font-size: 2.5vh;
  text-decoration: none; 
  color: inherit; 
}

#contactButton a:hover {
  color: rgb(46, 59, 120);
}

footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5vh;
  text-align: center;
}
