#digitalCardTitle {
  width: 100%;
  text-align: center;
  color: rgb(91, 174, 176);
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  transform: translateY(1vh);
  z-index: 5;
}

#digitalCard {
  transform: translateY(-2.5vh);

  height: 50vh;
  width: auto;
  box-shadow: 0.5vh 0.5vh 1vh #000000b3;
}

.contactButtonDC {
  display: inline-block;
  margin-top: 2vh;
  padding: 1vh 2vh;
  background-color: rgb(91, 174, 176);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5vh;
  transition: background-color 0.3s ease;
  transform: translateY(-2vh);
}

.contactButtonDC:hover {
  background-color: rgb(46, 59, 120);
}

@media (max-width: 600px) {
  #digitalCardTitle {
    width: 75%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
    transform: translateY(4.5vh);
    z-index: 5;
    font-size: 2vh;
  }

  #digitalCard {
    transform: translateY(5vh);
    width: 63vw;
    height: 63vw;
    width: auto;
    box-shadow: 0.5vh 0.5vh 1vh #000000b3;
  }

  .contactButtonDC {
    display: inline-block;
    margin-top: 2vh;
    padding: 1vh 2vh;
    width: 56vw;
    margin-bottom: 1vh;
    background-color: rgba(91, 175, 176, 0.782);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease;
    transform: translateY(5vh);
  }

  .contactButtonDC:hover {
    background-color: rgb(46, 59, 120);
  }
}
