#imageSide {
  height: 100vh;
  width: 40vw;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden; /* Ensure no overflow on the image side */

}

#imageSideBackground {
  position: absolute;
  content: "";
  width: 40vw;
  height: 500vh;
  background: linear-gradient(to left, rgb(46, 59, 120), rgb(46, 102, 120));
  clip-path: polygon(0vw 0vh, 40vw 0vh, 10vw 100vh, 0vw 100vh);
  z-index: 2;
}

#imageSideBorder {
  position: absolute;
  content: "";
  width: 80vh;
  height: 300vh;
  background-color: rgb(91, 174, 176);
  clip-path: polygon(0vw 0vh, 40vw 0vh, 10vw 100vh, 0vw 100vh);
  z-index: 1;
  transform: translateX(1vh);
}

.imageWrapper {
  position: relative;
  display: flex;
  z-index: 3;
  align-items: flex-end;
}

#santiImage {
  height: auto;
  max-height: 100vh;
  max-width: 38.5vw;
  object-fit: contain; 
  z-index: 3;
  transform: translateX(-10.5vw);
  will-change: filter;
  transition: filter 300ms;
}

#santiImage:hover,
.imageWrapper:hover #santiImage {
  filter: drop-shadow(0 0 5vh #eaebee5a);
}

.playBioButton {
  position: absolute;
  font-weight: bold;
  bottom: 5vh;
  left: 50%;
  transform: translateX(80%);
  background-color: rgb(46, 59, 120);
  color: #fff;
  padding: 1vh 2vh;
  border-radius: 0.5vh;
  font-size: 3vh;
  white-space: nowrap;
  z-index: 4;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

.imageWrapper:hover .playBioButton {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 750px) {
  #santiImage {
    display: none;
  }
  #imageSide {
    height: 19vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  #imageSideBackground {
    content: "";
    width: 100vw;
    height: 12.5vh;
    clip-path: none;
    background: linear-gradient(to left, rgb(46, 59, 120), rgb(46, 102, 120));
    z-index: 2;
    box-shadow: 0vh 1vh 1vh rgba(0, 0, 0, 0.461);
  }

  #imageSideBorder {
    content: "";
    width: 50vw;
    height: 5vh;
    top: 10vh;
    left: 25vw;
    position: fixed;
    border-radius: 5vh;
    background-color: rgb(91, 174, 176);
    clip-path: none;
    z-index: 5;
    transform: translateX(0vh);
    box-shadow: 0vh 0.5vh 1vh rgba(0, 0, 0, 0.461);
  }
}
