.navbar {
  font-size: calc(1.25vh + .75vw);
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display list items in a row */
  justify-content: center; /* Center the navigation items */
}

.navbar li {
  margin: 0 vw; /* Add spacing between items */
}

.navbar li:not(:last-child)::after {
  font-weight: lighter;
  content: "•";
}

.navbar a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the inherited text color */
  padding: 0.4vh; /* Optional: Add some padding around the link */
}

.navbar a:hover {
  color: rgb(46, 59, 120); /* Optional: Change link color on hover */
}

ul {
  list-style: none;
}

@media (max-width: 750px) {
  .navbar {
    width: 100vw !important;
    height: 4vh;
    font-size: calc(1.25vh + .75vw);
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display list items in a row */
    justify-content: center; /* Center the navigation items */
    align-items: center;
    background-color: rgb(91, 174, 176);
    color: white;
  }
  .navbar a:hover {
    color: rgb(46, 59, 120);
  }
}
