#overallGrid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1vh;
}

#leftSide {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-right: 3vh;
  border-right: 0.25vh solid #ccc;
    overflow: auto;

}

#titleArea {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(91, 174, 176);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1vh;
  font-style: italic;
  padding-bottom: 1vh;
}

#thumbnailArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.square {
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0.25vh 0.25vh 0.5vh rgba(0, 0, 0, 0.7);
  margin-bottom: 0.25vh;
}

.square p {
  color: rgba(91, 175, 176, 0.654);
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(1.25vh + 0.25vw);
  font-style: italic;
}

#mainProjectThumbail {
  max-width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.7);
}

#mainProjectThumbail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#mainProjectThumbail:hover img {
  transform: scale(1.4);
  z-index: 5;
  box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.7);
}

#rightSide {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding-left: 1vh;
  overflow-y: auto;
}

.projectButton,
.projectButtonOutliers {
  width: 100%;
  font-size: 2vh;
  text-align: left;
  font-weight: bold;
  background-color: rgba(91, 175, 176, 0.654);
  color: #fff;
  padding: 0.75vh 0.75vh;
  margin: 0.5vh 0;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.projectButtonOutliers {
  background-color: rgb(91, 174, 176);
  text-align: center;
}

.projectButton.active,
.projectButtonOutliers.active {
  background-color: rgb(91, 174, 176); 
  color: #fff; 
}

#commentsSection {
  display: flex;
  flex-direction: column;
  padding-top: 2.5vh;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  overflow: visible;
  font-size: calc(1.5vh + 0.5vw);
}

#commentsSection .bold {
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(1.5vh + 0.5vw);
}

#commentsSection .italics {
  font-style: italic;
  font-size: calc(1.5vh + 0.5vw);
}

.navLink {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the inherited text color */
  padding: 0.75vh; /* Optional: Add some padding around the link */
}

.navLink:hover {
  color: rgb(46, 59, 120);
}

.bold {
  font-weight: bold;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.italics {
  font-style: italic;
}

@media (max-width: 850px) {
  #overallGrid {
    flex-direction: column;
    overflow-y: auto;
  }

  #leftSide {
    display: flex;
    flex-direction: column;
    padding-right: 0vh;
    border-right: 0vh solid #ccc;
    min-height: 50%;
  }

  #titleArea {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(91, 174, 176);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1vh;
    font-style: italic;
    padding-bottom: 1vh;
  }
  #thumbnailArea {
    display: flex;
    flex-direction: row;
  }

  #prevNextThumbnails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .square {
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .square img {
    max-width: 90%;
    object-fit: cover;
    box-shadow: 0.25vh 0.25vh 0.5vh rgba(0, 0, 0, 0.7);
  }

  .square p {
    color: rgb(91, 174, 176);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.75vh;
    font-style: italic;
  }

  #mainProjectThumbail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.7);
    margin-bottom: 2.2vh;
  }

  #mainProjectThumbail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  #mainProjectThumbail:hover img {
    transform: scale(1.1);
  }

  #rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0vh;
    padding-bottom: 1vh;
    overflow: visible;
  }

  .projectButton,
  .projectButtonOutliers {
    width: 100%;
    font-size: 2vh;
    text-align: left;
    font-weight: bold;
    background-color: rgba(91, 175, 176, 0.654);
    color: #fff;
    padding: 0.75vh 0.75vh;
    margin: 0.5vh 0;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }

  .projectButtonOutliers {
    background-color: rgb(91, 174, 176);
    text-align: center;
  }

  #rightSide .active {
    background-color: rgb(91, 174, 176);
  }

  #commentsSection {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    text-align: left;
    overflow: visible;
    font-size: 1rem;
  }

  #commentsSection .bold {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
  }

  #commentsSection .italics {
    font-style: italic;
    font-size: 1.2rem;
  }

  .navLink {
    text-decoration: none;
    color: inherit;
    padding: 0.75vh;
  }

  .navLink:hover {
    color: rgb(46, 59, 120);
  }

  .bold {
    font-weight: bold;
  }

  .center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .italics {
    font-style: italic;
  }
}
